@{
    ViewBag.Title = "Home Page";
}

<main role="main" class="cover-container d-flex h-100 p-3 mx-auto flex-column" style=" padding:20% " >
    <h1 style="color:#ddd">Bem-vindo ao Projeto Northwind.MVC.</h1>
    <p class="lead" >Criado por Gabriel Lemes de Oliveira</p>
  
</main>