<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Northwind.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Northwind.MVC.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/4b999bf3c0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="my-page-navbar ">

            <ul class="my-nav-navbar my-container">
                <li class="my-nav-item">
                    <a class="my-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="my-nav-item">
                    <a class="my-nav-link">
                        <img style="width: 15%; height: auto;" src="~/img/alien.svg">
                    </a>
                </li>
                <li class="my-nav-item">
                    <a class="my-nav-link" asp-area="" asp-controller="Products" asp-action="Index">Produtos</a>
                </li>
            </ul>

        </nav>
    </header>
    <div class="content-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
