<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceNorthwindSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceNorthwindSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44389/WebServiceNorthwind.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceNorthwindSoap"
                contract="ServiceReference.WebServiceNorthwindSoap" name="WebServiceNorthwindSoap" />
        </client>
    </system.serviceModel>
</configuration>